.nomp{margin:0;padding:0;}
.noli{list-style:none;list-style-image:none;list-style-type:none;}
.left{float:left;}
.right{float:right;}
.phblue{color:#0c7fb8;}
.ib{display:inline-block;*zoom:1;*display:inline;}
.up{text-transform:uppercase;}
.nodeco{text-decoration:none;}
